<html>
    <head>
        <title>ALan's portfolio</title>
    </head>
    <body>
        <div id="intro">
            <h1>Welcome to my humble portfolio page!</h1>
            <p>My name is Alan. I am a web developer and this site contains some of my past projects. </p>
        </div>

        <div id="project-list">
            <h2>Here's a quick overview of my projects:</h2>
            <ul>
                <li>Project 1 - <a href="https://github.com/ElenSerhan/TripleX">TripleX C++ game</a>
                </li>
                <li>Project 2 - <a href="https://github.com/ElenSerhan/WeatherApplication">A simple Java weather application</a>
                </li>
            </ul>
        </div>
        <div>
          <img src="https://npr.brightspotcdn.com/dims4/default/f6194ce/2147483647/strip/true/crop/3000x2250+0+0/resize/880x660!/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2F00%2Fc1%2F2bb6eecb4267a976e5132eb2569c%2Fgettyimages-1176546803xx.jpg" style="width: 150px; height: 150px;" alt="Robot Picture">
        </div>
    </body>
</html>
